<div class="border-2 border-gray-200 rounded-lg dark:border-gray-700 p-6 mt-6">
    {%if webhook_requests %}
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
        {% for webhook_request in webhook_requests %}

        <li class="ms-6 mt-2">
            <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{webhook_request.created}}</h3>
            <p class="text-base font-normal text-gray-1000 dark:text-gray-400">
                Headers:
                <code
                    class="my-2 block p-6 bg-gray-300 border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
                    {{webhook_request.headers}}
                </code>
            </p>
            <p class="text-base font-normal text-gray-900 dark:text-gray-400">
                Payload:
                <code
                    class="mt-2 block p-6 bg-gray-300 border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
                    {{webhook_request.payload}}
                </code>
            </p>
        </li>
        {% endfor %}


    </ol>
    {% else %}
    <div class="p-4 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300" role="alert">
        Waiting for requests...
    </div>
    {% endif %}

</div>