{% extends 'base.html' %}

{% block title %}Webhook tester{% endblock %}

{% block content %}

{% include "webhook_tester/webhook_info.html" %}

<div id="all-events">
</div>

{% endblock %}

{% block script %}
<script>
    const allEvents = (workSpaceId) => {
        return axios
            .get(`/${workSpaceId}/all_events`)
            .then((response) => {
                const htmlContent = response.data.template;
                const contentDiv = document.getElementById("all-events");
                contentDiv.innerHTML = htmlContent;
            })
            .catch((error) => {
                console.log(error);
            });
    };

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/events/'
        + "{{ workspace_id }}"
        + '/'
    );

    chatSocket.onmessage = function () {
        allEvents("{{ workspace_id }}")
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };


    allEvents("{{ workspace_id }}")
</script>
{% endblock %}